# ======================
# .NET / C#
# ======================
bin/
obj/

# ======================
# Visual Studio
# ======================
.vs/
*.user
*.suo

# ======================
# Logs
# ======================
*.log

# ======================
# Configuración local
# ======================
appsettings.Development.json
appsettings.json